/************* Header *************/
.Header{
     width: 100vw;
     padding-bottom: 40%;
     background: lavenderblush;
 }

/************* Footer *************/
.Footer{
    width: 100vw;
    height: 100px;
    background: #20242c;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
}

/************* PageNumbers *************/
.PageNumbers{
    width: 100vw;
    height: 100px;
    color: white;
    display: flex;
    justify-content:center;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white;
    background-color: transparent;
    border: none;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border: none;
    text-decoration:underline
}

.page-item.disabled .page-link {
    z-index: 3;
    color: #6f798f;
    background-color: transparent;
    border: none;
}

.page-link:hover {
    z-index: 3;
    color: #fff;
    background-color: transparent;
    border: none;
    text-decoration:underline
}

.page-link:focus {
    z-index: 3;
    outline: none;
    box-shadow: none;
}


/************* Selections *************/
.nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 2%;
    margin-bottom: 1%;
    list-style: none;
}
.nav-tabs .nav-link {
    color: white;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    width: 10%;
}

.nav-tabs.focus, .nav-tabs:focus {
    outline: 0;
    box-shadow: none!important;
}


.nav-link.focus, .nav-link:focus {
    outline: 0;
    box-shadow: none!important;
}

/************* SearchBar *************/
.Searchbar{
    margin-top: 2%;
    margin-bottom: 3%;
    width: 80vw;
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
}

.SearchDetail{
    display: flex;
    width: 280px;
    height: 100%;
    align-items: center;
    justify-content:space-around;
}

.SearchDetail .dropdown-toggle {
    white-space: nowrap;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Genre .dropdown-menu.show {
    display: block;
    overflow-y: scroll;
    height: 200px;
}

.Input .form-group {
    margin-bottom: 0;
}

.SearchBtn .btn-light{
    width: 150px;
}


/************* Movie List *************/
.MovieList{
    margin-top: 2%;
    margin-bottom: 5%;
    height: 100%;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*
.MovieList::after {
    content: "";
    flex: auto;
}
 */

/************* Movie Thumb *************/
.Moviethumb{
    margin: 20px 15px 15px 15px;
    height: 300px;
    width: 200px;
    background: lavender;
    display: flex;
    align-items: flex-end;
    transition: transform .2s;
}

.Moviethumb:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.MovieInfo{
    color: white;
    width: 100%;
    height: 35%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.close.focus, .close:focus {
    outline: 0;
    box-shadow: none!important;
}

.Moviedetails{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.Detailinfo{
    width: 40vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.Detailposter {
    width: auto;
    height: 75vh;
}
.tagline{
    margin-bottom: 3vh;
    font-style: italic;
}